@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

:root {
    --pink-color: #ffdbbc;
    --lipstick-color: #e82147;
}


/* Header */

header {
    background-color: var(--pink-color);
    height: 70vh;
    width: 100vw;
    padding-top: 24px;
}

header img.header-background {
    position: absolute;
    width: 200px;
    top: 150px;
    left: 100px;
    z-index: 1;
}

/* Nav - Header */

nav {
    width: 1000px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

nav ul li a span {
    color: var(--lipstick-color);
    font-family: 'Playfair Display', serif;
}

nav ul li div.avatar-container {
    background-color: var(--lipstick-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}

nav ul li div.avatar-container img {
    height: 40.6px;
    
}

nav ul li p {
    color: var(--lipstick-color);
    font-size: 1.6rem;
    margin-right: 20px;
}

nav ul li:last-child {
    display: flex;
    align-items: center;
}

nav ul li div.input-container input {
    font-size: 1.4rem;
    padding: 10px 22px;
    width: 400px;
    border-radius: 16.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}

nav ul li div.input-container input::placeholder {
    opacity: 0.18;
}

nav ul li div.input-container img {
    width: 16px;
    height: 30px;
    position: relative;
    right: 37px;
    top: 10px;
}

/* Main - Header */

header div.main-header {
    display: flex;
    justify-content: center;
    margin-top: 78px;
}

/* Main - Header - Div.texto */

header div.main-header :is(h1, div.textos h1 span) {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

header div.main-header div.textos h1 span {
    display: block;
    color: var(--lipstick-color);
}

header div.main-header div.textos p {
    font-size: 1.2rem;
    margin: 42px 147.9px 26.6px 0px;
    line-height: 1.33;
}

header div.main-header div.textos p span {
    display: block;
}

header div.main-header div.textos p span:last-child {
    color: var(--lipstick-color);
}

/* Main - Header - Div.img-prato */

header div.main-header div.img-prato {
    cursor: pointer;
}


header div.main-header div.img-prato img:first-child {
    position: absolute;
    margin: 13.9px 34.5px 26.6px 42.6px;
}

header div.main-header div.img-prato img:last-child {
    width: 302.1px;
}

header div.main-header div.img-prato div.hover {
    position: absolute;
    width: 226px;
    height: 41.5px;
    top: 314px;
    right: 335px;
    background-color: #fff;
    display: flex;
    cursor: pointer;
}

header div.main-header div.img-prato div.d-none {
    display: none;
}

header div.main-header div.img-prato div.hover img {
    width: 8px;
    margin: 17px 0px 0px 14.5px;
}

header div.main-header div.img-prato div.hover p {
    color: var(--lipstick-color);
    margin: 14px 0px 0px 32.5px;
}




/* Main */


main h2 {

    font-size: 2.8rem;
    font-family: 'Playfair Display';
    width: 272px;
    text-align: center;
    margin: 45.5px auto auto auto;

}

main h2.h2-bigger{
    width: 100%;
    margin-top: 84px;
}


/* Main receitas */


main div.receitas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69.5px;
}

main div.receitas div#prato-receita {
    cursor: pointer;
}


main div.receitas div#prato-receita div.hover {
    width: 319px;
    height: 41.5px;
    background-color: white;
    position: absolute;
    top: 773px;
    left: 376.5px;
    display: flex;
}


main div.receitas div#prato-receita div.hover img {
    width: 8px;
    margin:0px 0px 0px 14.5px;
}

main div.receitas div#prato-receita div.hover p {
    color: var(--lipstick-color);
    margin: 15px 0px 0px 10px;
}

main div.receitas div#prato-receita div.d-none {
    display: none;
}

main div.receitas div.textos :is(p:first-child, h3) {
    margin-bottom: 12px;
}

main div.receitas div.textos h3 {
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    width: 155px;
}

main div.receitas div.textos p {
    color: var(--lipstick-color);
}

main div.receitas div.textos div.estrelas-container {
    display: flex;
}

main div.receitas div.textos div.estrelas-container p.diff {

    margin: 0px 10.5px 26px 0px;

    /*margin-right: 10.5px;*/
}

main div.receitas div.textos div.estrelas-container div.estrelas img {
    width: 8px;
    opacity: .1;
}

main div.receitas div.textos div.mudar-prato {
    display: flex;
}

main div.receitas div.textos div.mudar-prato div.seta-container:first-child {
    margin-right: 11px;
}

main div.receitas div.textos div.mudar-prato div.seta-container {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 16.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: all .3s;
}

main div.receitas div.textos div.mudar-prato div.seta-container:hover {
    background-color: var(--lipstick-color);
}

main div.receitas div.textos div.mudar-prato div.seta-container img {
    width: 8px;
}

main img.linha {
    width: 79.5px;
    margin-top: 89.5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* Main mundo gastronômico */

main div.mundo-gastronomico {
    margin: 54.5px 0px 167.5px 0px;
    display: flex;
    justify-content: center;
}

main div.mundo-gastronomico div.options {
    margin-right: 10px;
}

main div.mundo-gastronomico div.options div.option {
    display: flex;
    align-items: center;
    border: 0.5px solid #f0f0f0;
    padding: 16.5px 70px 16.9px 46.5px;
    margin-bottom: 10px;
    cursor: pointer;
}

main div.mundo-gastronomico div.options div.option:last-child {
    margin-bottom: 0;
}

main div.mundo-gastronomico div.options div.option.active {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}

main div.mundo-gastronomico div.options div.option.active p {
    color: var(--lipstick-color);
}

main div.mundo-gastronomico div.options div.option:hover {
    box-sizing: border-box;
    border: 0.5px solid var(--lipstick-color);
}

main div.mundo-gastronomico div.options div.option:hover p {
    color: var(--lipstick-color);
}

.patisserie img {
    height: 30.4px;
}

main div.mundo-gastronomico div.options div.option img {
    width: 3.11rem;
}

main div.mundo-gastronomico div.options div.option p {
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    color: #a19b9b;
    margin-left: 1.64rem;
}


/* Footer */

footer {}

footer img.footer-background {
    width: 100vw;
    position: absolute;
}

footer div.footer {
    width: 800px;
    margin: auto;
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div.footer div.header-footer {
    display: flex;
    align-items: baseline;
}

footer div.footer div.header-footer :is(h1, h1 span) {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}


footer div.footer h1 span {
    color: var(--lipstick-color);
    margin-right: 2.06rem;
}

footer div.footer div.header-footer p {
    font-weight: normal;
}


footer div.footer div.redes-sociais img {
    width: 2rem;
    margin-right: 1.75rem;
    cursor: pointer;
}

footer div.footer div.redes-sociais img:last-child {
    margin-right: 0;
}



/* Sidebar */


.d-none {
    display: none;
}

main div.sidebar, header div.ceviche-expandido {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #7c7878af;
}

main div.sidebar div.content {
    width: 381px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: 0;
    box-sizing: border-box;
    padding: 48.5px 61px;
}

main div.sidebar div.content div.btn-fechar {
    display: flex;
    align-items: center;
}

main div.sidebar div.content div.btn-fechar img.fechar {
    cursor: pointer;
    width: 15.6px;
    margin-right: 11.5px;
}

main div.sidebar div.content div.btn-fechar p.fechar {
    cursor: pointer;
    font-weight: bold;
}

main div.sidebar div.content div.profile {
    margin-top: 44px;
}

main div.sidebar div.content div.profile div.data-profile {
    display: flex;
}

main div.sidebar div.content div.profile div.nome {
    display: flex;
    align-items: center;
}

main div.sidebar div.content div.profile div.nome div.avatar-container {
    width: 60px;
    height: 60px;
    background-color: var(--lipstick-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    margin-right: 9.5px;
}

main div.sidebar div.content div.profile div.nome div.avatar-container img {
    height: 40.6px;
}

main div.sidebar div.content div.profile div.nome p {
    color: var(--lipstick-color);
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

main div.sidebar div.content div.profile div.email {
    margin-top: 13.5px;
}

main div.sidebar div.content div.profile div.telefone {
    margin-top: 8.5px;
}

main div.sidebar div.content div.profile :is(div.email img, div.telefone img) {
    width: 14px;
}

main div.sidebar div.content div.profile :is(div.email p, div.telefone p) {
    margin-left: 9px;
    font-weight: bold;
}


main div.sidebar div.content div.plano-mensal {
    margin-top: 30.5px;
}

main div.sidebar div.content div.plano-mensal p {
    display: inline-block;
}

main div.sidebar div.content div.plano-mensal p.titulo {
    font-size: 1.6rem;
    margin-right: 54px;
    font-family: 'Playfair Display', serif;
}

main div.sidebar div.content div.plano-mensal p {
    font-weight: bold;
}

main div.sidebar div.content div.barra-plano-mensal {
    margin-top: 9px;
    width: 231.5px;
    height: 9px;
    background-color: var(--lipstick-color);
    border-radius: 12px;
}

main div.sidebar div.content div.plano-mensal button {
    margin-top: 44px;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: var(--lipstick-color);
    width: 231.5px;
    padding: 9.5px 61px;
    border-radius: 17.5px;
    cursor: pointer;
    box-sizing: border-box;
}

main div.sidebar div.content nav.menu-sidebar {}

main div.sidebar div.content nav.menu-sidebar ul {
    display: block;
}

main div.sidebar div.content nav.menu-sidebar ul li {
    display: flex;
    margin-top: 11.5px;
    cursor: pointer;
}

main div.sidebar div.content nav.menu-sidebar ul li:first-child {
    margin-top: 104.5px;
}

main div.sidebar div.content nav.menu-sidebar ul li p {
    font-size: 1rem;
    font-weight: bold;
    color: #c1bebe;
    margin-left: 7.5px;
}




/* Lightbox */

header div.ceviche-expandido div.content {
    width: 732px;
    height: 332.5px;
    background-color: #797979da;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.ceviche-expandido div.content div.textos {
    width: 270px;
    height: 317px;
    background-color: #fff;
    margin-left: -1px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
}

header div.ceviche-expandido div.content div.textos img.fechar {
    width: 15.6px;
    justify-self: right;
    cursor: pointer;
}

header div.ceviche-expandido div.content div.textos h1 {
    font-size: 1.2rem;
    line-height: 1.33;
}

header div.ceviche-expandido div.content div.textos h1 span {
    color: var(--lipstick-color);
    display: block;
}

header div.ceviche-expandido div.content div.textos p {
    font-weight: normal;
    color: #555455;
}

header div.ceviche-expandido div.content div.textos :is(div.actions, div.actions button, div.actions div) {
    display: flex;
    align-items: center;
}

header div.ceviche-expandido div.content div.textos div.actions :is(div.btn, div.ver-receita) {
    cursor: pointer;
}

header div.ceviche-expandido div.content div.textos div.actions div.ver-receita:hover {
    text-decoration: underline;
    color: var(--lipstick-color);
}

header div.ceviche-expandido div.content div.textos div.actions div.btn {
    border: 0.5px solid var(--lipstick-color);
    height: 15px;
    padding: 2.5px 11.5px 3px 8.8px;
    border-radius: 19px;
    margin-right: 21.5px;
}

header div.ceviche-expandido div.content div.textos div.actions div img {
    width: 8px;
    margin-right: 5.5px;
}

header div.ceviche-expandido div.content div.textos div.actions :is(div.ver-receita p, div.btn p) {
    color: var(--lipstick-color);
    font-weight: bold;
}

p {
    font-weight: bold;
}



/* Responsividade */

@media (max-width: 1051px) {

    nav {
        width: 800px;
    }

}

@media (max-width: 890px) {
    nav {
        width: 600px;
    }

    nav ul li div.input-container input {
        width: 300px;
    }

    html {
        font-size: 55%;
    }

    footer img.footer-background {
        margin-top: 50px;
    }

    footer div.footer {
        width: 600px;
    }
    
}

@media (max-width: 630px) {
    nav {
        width: 400px;
    }

    footer div.footer {
        width: 400px;
    }

    nav ul li div.avatar-container {
        width: 40px;
        height: 40px;
    }

    nav ul li div.avatar-container p {
        margin-right: 0px;
    }
    
    nav ul li div.avatar-container img {
        height: 20px;
        
    }

    html {
        font-size: 50%;
    }

    nav ul li a {
        margin-left: -50px;
        margin-right: 20px;
    }

    nav ul li div.input-container input {
        width: 200px;
    }

    header div.main-header div.img-prato img:first-child {
        width: 200px;
    }
    
    header div.main-header div.img-prato img:last-child {
        width: 277.1px;
    }
}

@media (max-width: 568px) {
    header div.main-header {
        flex-direction: column;
        margin-left: 150px;
    }

    main div.mundo-gastronomico {
        flex-direction: column;
        justify-content: center;
    }

    main div.mundo-gastronomico div.options {
        width: 300px;
        margin: auto;
    }

    main div.mundo-gastronomico img {
        width: 300px;
        margin: 10px auto;
    }

    main div.receitas {
        flex-direction: column;
    }

    header {
        height: 100vh;
    }
}

@media (max-width: 518px) {
    footer img.footer-background {
        margin-top: 80px;
    }
    footer div.footer {
        top: 115px;
    }
    nav {
        margin-right: auto;
    }
}

@media (max-width: 491px) {
    nav {
        width: 300px;
        margin-right: auto;
    }
}
